@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Encode+Sans+Condensed:wght@500&family=Gelasio&family=Montserrat:wght@200&family=Suranna&display=swap');
body, html {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;;
}

header {
  background-color: #c3a2ee;
  color: rgb(179, 10, 10);
  padding: 10px 0;
  display: flex;
  height: 8%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto 0; 
  height: 30%;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

#video-container {
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
}


#results-container {
  flex: 1; 
  text-align: left;
}

/* #video-container video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
} */

#results-container>div {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px; 
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#emotion {
  font-size: 16px;
}


.main {
  display: flex;
  width: 100%;
  height: 82%;
  align-items: center;
  justify-content: space-around;

}
.main-game {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sub-game{
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 2rem;
}

#counter{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}

.emotions {
  width: 35%;
  border: 10px;
}


.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.arrow .neutral,
.arrow .up,
.arrow .down,
.arrow .left,
.arrow .right {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px;
}



.arrow .neutral h1,
.arrow .up h1,
.arrow .down h1,
.arrow .left h1,
.arrow .right h1{
  margin-left: 10px;
  font-size: 60px;
  border-radius: 2.5rem;
  padding: 0;
}
.arrow span{
  font-size: 80px;
}
/*.arrow .up::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.arrow .down::before {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrow .left::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.arrow .right::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
}

.arrow .up::before,
.arrow .down::before,
.arrow .left::before,
.arrow .right::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff007f;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
*/

.leyenda {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background: rgb(230,214,29);
  background: linear-gradient(90deg, rgba(230,214,29,1) 3%, rgba(226,65,45,1) 54%, rgba(255,162,0,1) 97%);
  width: 25rem;
  height: 16rem;
  font-size: 25px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.popup-content p{
  margin: 0;
}
.popup-content .stars{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 30px;
  font-weight: bold;
}
.popup-content .stars span{
  font-size: 30px;
}

.popup-content .button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.popup-content .button-restart{
  background: rgb(15, 35, 163);
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  border: white;
}

.popup-content .button-next{
  background: rgb(25, 158, 25);
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  border: white;
}