
body, html {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c3a2ee;
  color: rgb(14, 13, 13);
  padding: 10px 0;
  display: flex;
  height: 8%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#video-container {
  flex: 1; 
  margin-left: 20px; 
}

#results-container {
  flex: 1; 
  text-align: left;
}

#video-container video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#results-container>div {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px; 
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#emotion-histogram {
  width: 100%; 
}

.main {
  display: flex;
  width: 100%;
  height: 82%;
  align-items: center;
  justify-content: space-around;

}
.main-game {
  display: flex;
  width: 55%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.emotions {
  width: 35%;
  border: 10px;
}


.arrow {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  
}

.arrow .up,
.arrow .down,
.arrow .left,
.arrow .right {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.arrow .up h1,
.arrow .down h1,
.arrow .left h1,
.arrow .right h1{
  margin-left: 60px;
}

.arrow .up::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.arrow .down::before {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrow .left::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.arrow .right::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
}

.arrow .up::before,
.arrow .down::before,
.arrow .left::before,
.arrow .right::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff007f;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


